<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DW_LIVE" value="kW/M+j1HWYNFlcZ5Kqj46AwnNZ+fyEpfMOxZRgZBqnDThsWlnNIOkuqKAcUUT4wKmdzEd1wCVQlcP3un6aEzK6wRao2EnlOmRCIX+9MWjoEtVc6kMaok7MEbke+fE3bl/7tpfE50R45Mf0DPt0K40pTVE8Kvz/Va53eXGRXwl7zkIg6uJ2xjqILDKOua0QrcdjGnNUwLRvqq8kYrPmwE5Q==" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>