<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PATH_FILE" value="D:\\Soft_Khoa\\VisaTool" />
    <!--
    <add key="DW_LIVE" value="kW/M+j1HWYNFlcZ5Kqj46AwnNZ+fyEpfMOxZRgZBqnDThsWlnNIOkuqKAcUUT4wKmdzEd1wCVQlcP3un6aEzK6wRao2EnlOmRCIX+9MWjoEtVc6kMaok7MEbke+fE3bl/7tpfE50R45Mf0DPt0K40pTVE8Kvz/Va53eXGRXwl7ympc0pyofpbJWE9lmZIMnwK4aK/wP+tCvbt3FfiON0uA=="/>
    <add key="IM_LIVE" value="kW/M+j1HWYNFlcZ5Kqj46AwnNZ+fyEpfMOxZRgZBqnDThsWlnNIOkuqKAcUUT4wKmdzEd1wCVQlcP3un6aEzK6wRao2EnlOmRCIX+9MWjoEtVc6kMaok7MEbke+fE3blRpix6yb++2s57FRoZhXJj3HNZL2kKpW6JBBbPzJOTAz4z8sRzm54tXpZU4qdnAEr2prAKLEv0i7hoBOu7/+S1Q=="/>
    -->
  </appSettings>
</configuration>